<html>
  <head>
    <title>{{title}}</title>
    {{{render-stylesheet-tags}}}
    {{{render-javascript-tags 'header'}}}
    <link rel="stylesheet" type="text/css" href="/public/plugin/we-plugin-messenger/files/we-messenger.css">
  </head>
  <body class="is-starting">

  <div id="privateChat" class="chat">
    <div class="chat-header">
      <span id="#connectionStatus"></span> {{title}}
      <span class="header-actions pull-right"></span>
    </div>
    <ul id="contactsList" class="hide-on-start chat-contacts" style="height:{{height}}px;"></ul>
    <div class="hide-on-start public-room-area">{{t "Public room"}}</div>
    <div class="show-on-start is-starting">Starting</div>
    <div class="hide-on-start chat-form-area"></div>
  </div>

  {{{render-bootstrap-config}}}
  {{{render-javascript-tags 'footer'}}}

  <script type="text/javascript" src="/public/plugin/we-plugin-messenger/files/we-messenger.js"></script>

  <script type="text/javascript">
    // window.moment.locale('{{locale}}');
    window.currentUser = {{{authenticatedJSONRecord}}};
    window.weMessenger.initialize();
    </script>
</body>
</html>