<form name="widget-form-{{type}}">
  <div class="form-group">
    <label for="widget-form-{{type}}-title">{{t 'title'}}</label>
    <input name="title" value="{{title}}" type="text" class="form-control" id="widget-form-{{type}}-title" placeholder="{{t 'widget.title'}}">
  </div>

  <div class="form-group">
    <label for="widget-form-{{type}}-roomId">{{t 'widget.form.we-messenger.roomId'}}</label>
    <input id="widget-form-{{type}}-roomId" type="text" class="form-control" name="roomId" required="required" value="{{configuration.roomId}}" />
  </div>

  <div class="form-group">
    <label for="widget-form-{{type}}-height">{{t 'widget.form.we-messenger.height'}}</label>
    <input id="widget-form-{{type}}-height" type="text" class="form-control" name="height" value="{{configuration.height}}" />
  </div>

  <div class="form-group">
    <label for="widget-form-{{type}}-iframeHeight">{{t 'widget.form.we-messenger.iframeHeight'}}</label>
    <input id="widget-form-{{type}}-iframeHeight" type="text" class="form-control" name="iframeHeight" value="{{configuration.iframeHeight}}" />
  </div>

  <div class="form-group">
    <label for="widget-form-{{type}}-width">{{t 'widget.form.we-messenger.width'}}</label>
    <input id="widget-form-{{type}}-width" type="text" class="form-control" name="width"  value="{{configuration.width}}" />
  </div>

  {{{controllFields}}}

  {{#if id}}
    <input type="hidden" name="id" value="{{id}}">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" data-dismiss="modal" class="btn btn-default">Cancel</button>
  {{else}}
    <button type="submit" class="btn btn-primary">Add</button>
    <button type="submit" data-dismiss="modal" class="btn btn-default">Cancel</button>
  {{/if}}
</form>