<div {{bind-attr class=messageClass}} >
  {{!-- <span class="avatar-small">{{we-avatar userId=fromId.id}}</span> --}}
  <span class="avatar-small">{{user-avatar user=fromId}}</span>
  <small>{{fromId.displayName}}</small>
  <span class="message">{{content.content}}</span>
  <div class="message-footer">
    <span class="createdAt">
      {{format-date createdAt}}
    </span>
  </div>
</div>