<div {{bind-attr class=messageClass}} >
  <span class="avatar-small">{{we-avatar userId=fromId.id}}</span>
  <span class="message">{{content.content}}</span>
  <div class="message-footer">
    <span class="createdAt">
      {{format-date createdAt}}
    </span>
    <span class="small read-status">
      {{#if read}}
        <i title="read" class="glyphicon glyphicon-ok-circle text-success"> </i>
      {{else}}
        <i title="unread" class="glyphicon glyphicon-question-sign"> </i>
      {{/if}}
    </span>
  </div>
</div>

